.dnn{
    display: none;
}
.comment{
    max-width: 1296px;
    margin: 0 auto;
    margin-bottom: 100px;
    color: white;
}
.comment-header{
    margin: 0  auto ;
    max-width: 100%;
    h2{
        margin-left: 20px;
        margin-top: 110px;
        margin-bottom: 40px;
        font-size: 30px;
        font-weight: bolder;
    }
    .tag{
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        justify-content:space-around;
        img{
           width: 150px;
        }
    }
}
.comment-content{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.comment-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-top: 150px;
    margin-left: 10px;
    margin-right: 10px;
    width:35%;
    border: 1px white solid;
    border-radius: 10px;
    background-color: rgb(37, 30, 30);
    .images{
        margin-bottom: 10px;
    }
    p{  
        display: block;
        max-width: 100%;
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
        flex-grow: 3;
    }
}
.card-info{
    display: flex;
    justify-content: left;
    h2{
        margin:8px;    
    }
}
@media(max-width:992px){
    .dn{
        display: none;
    }
    .comment{
        max-width: 100%;
        .comment-header{
            h2{
                margin-right: 10px;
                font-size: 25px;
            }
            .tag{
                flex-wrap: nowrap;
                overflow: hidden;
                img{
                   max-width: 130px ;
                }
            }
        }  
}
   .comment-content{

    flex-direction: column;
        .comment-card{
            width: 95%;
            padding: 2%;
        //    max-height: 350px;
        }
        .select-db{
            display: flex;
            justify-content: center;
            li{
                margin-left: 10px;
                font-size: 30px;
                color: gray;
                &:hover{
                    color: white;
                    font-size: 36px;
                }
            }
        }
   }
   .card-info{
    margin-top: -1px;
   }
}

@media(max-width:400px){
    .dn{
        display: none;
    }
    .comment{
        max-width: 100%;
        .comment-header{
            h2{
                margin-right: 10px;
                font-size: 25px;
            }
        }
    }
   .comment-content{
    flex-direction: column;
        .comment-card{
            width: 95%;
            padding: 4%;
            height: 350px;
        }
        .select-db{
            display: flex;
            justify-content: center;
            li{
                margin-left: 10px;
                font-size: 30px;
                color: gray;
                &:hover{
                    color: white;
                    font-size: 36px;
                }
            }
        }
   }
   .card-info{
    margin-top: -1px;
   }
}

