@import './header';
@import './service';
@import './comment';
@import './content';
@import './footer';

.mb-16{
    margin-bottom: 16px;
}
.mb-8{
    margin-bottom: 16px;
}
.m-16{
    margin: 16px;
}

body{
    background-color: black;
}
.container {
    margin: 0 auto;
    max-width:1920px;
  } 
  
  