@import './page1';
@import './page2';
@import './page3';
@import './page4';
@import './page5';

.mb-16{
    margin-bottom: 16px;
}
.mb-8{
    margin-bottom: 16px;
}
.m-16{
    margin: 16px;
}
h2{
    font-size: 30px;
}

body{
   
    background-color: black;
}
.container {
    max-width: 1296px;
    margin: 0 auto;
    color: white;
  } 
  
  