.db{
    display: none;
}
.col-black{
    color: black;
}
.content{
    max-width: 100%;
    padding: 50px;
    margin: 0 auto;
    border-radius: 50px;
    background-color: white;
    .content-content{
        max-width: 74%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    
        h1{
            max-width: 100%;
            text-align: center;
            font-size:85px ;
            font-weight: bolder;
        }
        input{
            font-size: 20px;
            max-width: 100%;
            height: 50px;
            margin-top:30px;
            margin-bottom: 20px;
            background-color: rgb(224, 222, 222);
            border-color: white;
            border-radius: 8px;
        }
        .content-new-bar{
            display: none;
        }
        
    }
    .content-bar{
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        button{
            color: black;
            box-sizing: border-box;
                display: block;
                text-decoration: none;
                text-align: center;
                border: 1px rgb(28, 27, 27,0.1) solid;
                padding:12px;
                width: 110px;
                border-radius: 10px;
                font-weight: bolder;
            
        }
        .list{
            display: flex;
            justify-content: space-around;
            a{
                margin: 10px;
                box-sizing: border-box;
                display: block;
                padding:12px;
                border: 1px rgb(28, 27, 27,0.2) solid;
                border-radius: 18px;
                text-decoration: none;
                text-align: center;
                color:gray;
                font-weight: bolder;
                &:hover{
                    background-color: rgb(203, 196, 196);
                    color: black;
                }
            }
        }
    }
    
    .content-card{
        margin-bottom: 30px;
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        flex-wrap: wrap;
        .card{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            overflow: hidden;
            border: rgb(7, 7, 7, 0.2) solid 1px;
            margin: 10px;
            max-width: 30%;
            border-radius: 15px;
            img{
                max-width: 100%;
            }
           .card-title{
            flex-grow: 2;
            max-width: 100%;
            border-bottom:rgb(7, 7, 7, 0.2) solid 1px;
            padding: 20px;
                h2{
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 30px;
                 }
                 p{
                line-height: 1.5;
                }
           }
           .card-content{
            border-bottom:rgb(7, 7, 7, 0.2) solid 1px ;
            display: flex;
            justify-content: space-between;
            padding: 20px;
            h3{
                font-weight: bolder;
            }
        }
           .card-foot{
            display: flex;
            justify-content: space-between;
            padding: 20px;
           }
        }
    }
}
.pagebar{
    display: flex;
    justify-content: right;
    margin-right: 30px;
   ul{
    display: flex;
    justify-content: space-around;
    color: black;
    width: 300px;
    li{
    text-align: center;
    height: 30px;
    width: 40px;
        a{
            border-radius: 10px;
            border: 1px solid rgb(28, 28, 28,0.1);
            display: block;
            padding: 10px;
            text-decoration: none;
            color: black;
            &:hover{
                background-color: black;
                color: white;
            }
        }
    }
   }
}
@media (max-width:800px) {
    .dn{
        display: none !important;
    }
    
    .content{
    .content-content{
        max-width: 100%;
        h1{
            font-size: 31px;
            font-weight: bolder;
        }
        .content-new-bar{
            display: block;
        } 
    }
    .content-bar{
          .list{
            max-width: 500px;
            justify-content: center;
            overflow: hidden;
            a{
                border-color:white;
                width: 70px;
                font-size: 14px;
                &:hover{
                    color:black;
                }
            }
          }
    }
    .content-card{
        flex-direction: column;
        justify-content: center;
        .card{
           max-width: 100%;
           .card-title{
            // height: 170px;
        }
        >img{
            width: 660px;
           }
        }
        
    }  
    }
    .pagebar{
        margin-left: 60px;
        .dn{
            display: none;
        }
        .db{
            display: inline-block;
            margin-left: -40px;
            margin-top: 10px;
        }
    }
}


@media (max-width:400px) {
    .dn{
        display: none !important;
    }
    
    .content{
    .content-content{
        max-width: 100%;
        h1{
            font-size: 31px;
            font-weight: bolder;
        }
        .content-new-bar{
            display: block;
        } 
    }
    .content-bar{
          .list{
            margin-left: -35px;
            
            justify-content: center;
            overflow: hidden;
            a{
                border-color:white;
                width: 50px;
                font-size: 12px;
                &:hover{
                    color:black;
                }
            }
          }
    }
    .content-card{
        flex-direction: column;
        justify-content: center;
       
        .card{
           max-width: 100%;
           .card-title{
            flex-direction: column;
            justify-content: space-between;
            // height: 180px;
        }
        }
        
    }  
    }
    .pagebar{
        margin-left: 60px;
        .dn{
            display: none;
        }
        .db{
            display: inline-block;
            margin-left: -40px;
            margin-top: 10px;
        }
    }
}