.service{
    max-width: 1296px;
    margin: 0 auto;
    color: white;
    .service-title{
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 90px;
        margin-bottom: 50px;
        h2{
            width: 70%;
            font-size: 23px;
        }
        p{  
            font-size: 34px;
        }
    }
    .service-content{
        max-width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
        .service-card{
            padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 40px;
            padding-right: 40px;
            margin-right: 10px;
            border: 1px solid rgb(241, 233, 233 ,0.2);
            border-radius: 10px;
            max-width: 416px;
            img{
                
                width: 60px;
            }
            p{
                line-height: 1.5;
            }
        }
    }
}


@media (max-width:992px) {
    .service{
     max-width: 100%;
     .service-title{
         flex-direction: column;
         h2{
             font-weight: bold;
             font-size: 22px;
             margin-bottom: 50px;
         }
         p{
             font-size: 37px;
             .br{
                 display: none;
             }
         }
     }
     .service-content{
         flex-direction: column;
         align-items: center;
         .service-card{
            padding: 50px;
            max-width: 60%;
            justify-content: space-around;
            margin-bottom: 10px;
            
         }
     }
 }

 }

    @media (max-width:767px) {
       .service{
        max-width: 100%;
        .service-title{
            flex-direction: column;
            h2{
                font-weight: bold;
                font-size: 22px;
                margin-bottom: 50px;
            }
            p{
                font-size: 37px;
                .br{
                    display: none;
                }
            }
        }
        .service-content{
            flex-direction: column;
            align-items: center;
            .service-card{
               max-width: 80%;
               justify-content: space-around;
               margin-bottom: 10px;
            }
        }
    }

    }
   
